[submodule "online-ml"]
	path = online-ml
	url = git@github.com:mentics-online-ml/online-ml.git
[submodule "shared-types"]
	path = shared-types
	url = git@github.com:mentics-online-ml/shared-types.git
[submodule "series-store"]
	path = series-store
	url = git@github.com:mentics-online-ml/series-store.git
[submodule "kv-store"]
	path = kv-store
	url = git@github.com:mentics-online-ml/kv-store.git
[submodule "ingest"]
	path = ingest
	url = git@github.com:mentics-online-ml/ingest.git
[submodule "predict"]
	path = predict
	url = git@github.com:mentics-online-ml/predict.git
[submodule "label"]
	path = label
	url = git@github.com:mentics-online-ml/label.git
[submodule "train"]
	path = train
	url = git@github.com:mentics-online-ml/train.git
[submodule "ui"]
	path = ui
	url = git@github.com:mentics-online-ml/ui.git
